@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #26637125;
    z-index: 1000;
}

.menu a {
    text-decoration: none;
}


.logo {
    color: #FF7C20;
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo-svg {
    height: 80px;
    fill: red;
}
.logo h1{
    font-size: 25px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #5cbed4;
}


#menu {
    display: none;
}

.menu-icono {
    width: 35px;
}

.menu label {
    cursor:  pointer;
    display: none;
}


/* LA IMAGEN DE FONDO */
header{
    width: 100%;
    height: 725px;
    background-image: url(../img/img-home-cab.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
}

/* EL CONTAINER DEL HEADER */
.t-center{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

/* TITULO */
h1{
        font-size: 100px;
        color: white;
        text-align: center;
        margin-bottom: 150px;
    }

/* Texto transparente del titulo */
.t-transparent{
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
}

/* Descripcion del header */
.t-center p{
    width: 70%;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
}

/* Boton del header */
.t-center a{
    text-transform: uppercase;
    margin-top: 40px;
    background-color: orange;
    padding: 12px 30px;
    border-radius: 9px;
    -webkit-text-fill-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

section h2{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 45px;
}

img{
max-width: 95%;
height: 540px;
}

.contenedor{
max-width: 1600px;
width: 100%;
margin: auto
}

.entrada{
position: relative;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}

.entrada h3{
position: absolute;
margin-bottom: 4rem;
color: rgb(255, 255, 255);
font-size: 2rem;
text-transform: uppercase;
}

.entrada p{
position: absolute;
margin-top: 8rem;
color: rgb(255, 255, 255);
font-size: 1.2rem;
text-transform: uppercase;
}

.entrada a{
position: absolute;
margin-top: 16rem;
justify-content: center;
background-color: orange;
padding: 12px 30px;
border-radius: 7px;
}

.entrada a:hover{
    background-color: rgb(225, 154, 22)
}

.entrada a:visited{
color: #ffffff;
}

.titulo{
margin-top: 3rem;
text-align: center;
}

.titulo h3{
font-size: 35px;
color: rgb(75, 75, 75);
}

.titulo p{
margin-top: 1.5rem;
font-size: 18px;
color: rgb(75,75,75);
}

.diass{
display: flex;
flex-direction: column;
}

.diass .dias{
margin-top: 15px;
margin-bottom: 12px;
}


.diass ol li{
margin-top: 1rem;
font-size: 15px;
font-weight: 500;
}

.diass ol p{
font-size: 22px;
font-weight: 700;
margin-top: 1.2rem;
}

.diass a{
text-align: center;
text-transform: uppercase;
background-color: orange;
padding: 12px 30px;
border-radius: 9px;
-webkit-text-fill-color: rgb(255, 255, 255);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.boton{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
margin-top: 3rem;
}

.boton p{
text-align: left;
margin-bottom: 1.5rem;}

.lista-a{
display: none;
}

.lista-a.abierto{
display: block;
}

.fa-chevron-down{
margin-left: 10px;
color: orange;
}

.recomendaciones{
position: relative;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
margin-top: 10rem;
}

.recomendaciones a{
position: absolute;
margin-top: 20rem;
justify-content: center;
background-color: orange;
padding: 12px 30px;
border-radius: 7px;
}

.recomendaciones a:visited{
color: #ffffff;
}

.recomendaciones h3{
position: absolute;
margin-bottom: 8rem;
color: rgb(255, 255, 255);
font-size: 2rem;
text-transform: uppercase;
}

.recomendaciones p{
position: absolute;
max-width: 500px;
margin-top: 6rem;
color: rgb(255, 255, 255);
}


@media (min-width: 480px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}

@media(max-width:1023px) {
    .menu {
        padding: 30px ;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3f3f3f48;
        backdrop-filter: blur(5px);
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .icons {
        display: none;
    }

    .t-center{
        padding: 80px 30px 50px 30px;
        align-items: self-start;
        flex-direction: column;
        align-items: center;
    }

    .t-center p{
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    h1{
        margin-bottom: 10px;
    }
    img{
        position: initial;
        width: 300px;
        height: 300px;
    }

}
