@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif; 
}

header {
    background-image: url(../img/img-home-cab.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #26637157;
    z-index: 1000;
}

.menu a {
    text-decoration: none;
}


.logo {
    color: #FF7C20;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #FF7C20;
    font-weight: bold;
}


#menu {
    display: none;
}

.menu-icono {
    width: 35px;
}

.menu label {
    cursor:  pointer;
    display: none;
}



.header-txt{
    position: relative; /* Establecer la posición relativa para permitir el posicionamiento absoluto del botón */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establecer la altura para que ocupe toda la pantalla */
}


.header-txt h1{
    font-size: 100px;
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 25px;
    align-items: center;

}
.header-txt .contorno{
    color: transparent; /* Hacer el texto transparente para que solo se vea el contorno */
    -webkit-text-stroke: 2px rgb(255, 255, 255); /* Añadir un contorno de 2px en negro */
    font-size: 6vw;
    text-transform: uppercase;
    font-family: "Arial", sans-serif; 
}

.header-txt p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
}

.btn-1{
    padding: 13px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FF7C20;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    font-family: "Roboto Condensed", sans-serif;


}


.btn-1:hover {
    background-color: #714626;
}

.images {
    width: 800px;
    height: 380px;
    position: absolute;
    right: 0;
}



@media(max-width:1023px) {
    .menu {
        padding: 30px ;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3f3f3f48;
        backdrop-filter: blur(5px);
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .icons {
        display: none;
    }

    .header {
        padding: 80px 30px 50px 30px;
        align-items: self-start;
        flex-direction: column;
        align-items: center;
    }

    .header-txt {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .header-txt h1 {
        margin-bottom: 10px;
    }
    .images {
        position: initial;
        width: 300px;
        height: 300px;
    }

}
/* ACA EMPIEZA EL CODIGO DE CADA UNO */


.seccion1-experiencia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 88%;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
}

/*div de la imagen*/
.div-img{
    min-width: 600px;
    height: 600px;
    width: 600px;
    position: relative;
    text-align: center;
}

.sec1-img1{
    position:relative;
    left: -80px;
    z-index: 1;
    width: 430px;
    height: 450px;
    object-fit: cover;
}

.sec1-img2{
    position: relative;
    left: 0px;
    top: -150px;
    z-index: 2;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.sec1-img3{
    position: relative;
    left: 100px;
    top: -600px;
    z-index: 2;
    width: 400px;
    height: 400px;
    object-fit: cover;
}


/*div del texto*/
.div-text{
    min-width: 600px;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-text h2{
    font-size: 40px ;
    font-weight: bold;
}

.div-text ol li{
    text-align: left;
    margin: 25px;
    font-size: 18px;
    font-weight: bold;
    list-style-image: url(../img/viñeta.png);
}


/*sECCION DE UNA EXPERIENCIA CON DOS IMAGENES*/
.seccion1-experiencia2 {
    margin-top: 40px;
    position: relative;
    height: 1000px;
}

.img-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 90%;
    text-align: center;
    
}

.img-container h1 {
    color: white;
    font-size: 4vw;
    font-weight: bold;
}

.sec2-img1 {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.sec2-img2 {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*sesion 3*/
.seccion2-experiencia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 88%;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
}

.div-text-s2e1{
    min-width: 600px;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-text-s2e1 h2{
    font-size: 40px ;
    padding: 40px;
    font-weight: bold;
}

.div-text-s2e1 p{
    color: #FF7C20;
    font-weight: bold;
    text-align: start;
}

.btn-s2e1 {
    margin: 10px 180px 0px 180px;
    text-align: center;
}

.sec1-img1-s2e1{
    position:relative;
    left: 120px;
    z-index: 1;
    width: 430px;
    height: 450px;
    object-fit: cover;
}

.sec1-img2-s2e1{
    position: relative;
    left: 0px;
    top: -290px;
    z-index: 2;
    width: 400px;
    height: 400px;
    object-fit: cover;
}



/*SESSION 3 DE CARD*/
.session3-card {
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.session3-card .card{
    margin: 10px;
}























/*ESTE ES EL FOOTER*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Footer izq: 1 parte, Footer der: 2 partes */

    width: 80%;
    margin: auto;
}

.footer-izq {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-izq img {
    max-width: 300px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

.footer-der {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en el footer derecho */
}

.footer-der > div {
    padding-right: 20px; /* Espacio entre columnas */
}

.titulos-footer {
    margin-bottom: 5px;
    font-size:medium;
    font-weight:800;
    color: #FF7C20;
}


.footer-der ul {
    list-style: none;
    padding: 0;
}

.footer-der ul li {
    margin-bottom: 5px;
    font-size:small;
    font-weight:600;
}

.link-footer {
    text-decoration: none;
    color: black;
}

.link-footer:hover {
    color:#FF7C20
}